torch>=2.0.0
transformers>=4.30.0
langchain>=0.0.200
langchain-community>=0.0.10  # Required for HuggingFaceEmbeddings
faiss-cpu>=1.7.4
pandas>=1.5.0
openpyxl>=3.1.0  # for Excel file support
sentence-transformers>=2.2.0  # for HuggingFaceEmbeddings
fastapi>=0.100.0  # for API
uvicorn>=0.22.0  # for API server
python-multipart>=0.0.6  # for API file uploads
pydantic>=2.0.0  # for API data validation
sentencepiece>=0.1.99  # Required for T5Tokenizer

nltk>=3.8.1
PyMuPDF>=1.23.7
unidecode>=1.3.6

# computing & data handling
numpy>=1.24.0

# machine learning
scikit-learn>=1.3.0
joblib>=1.2.0

# fuzzy matching
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.12.2

# plotting (for confusion matrix)
matplotlib>=3.7.0
seaborn>=0.12.2